<ion-header>
    <ion-toolbar class="ion-toolbar">
        <ion-title>5 sitios turisticos cerca bogota</ion-title>
        <br>
        <ion-card-subtitle>Presentado por:</ion-card-subtitle>
        <ion-card-subtitle>Pamela Cortes</ion-card-subtitle>
        <ion-card-subtitle>Divier Castaneda</ion-card-subtitle>
    </ion-toolbar>
    <br>
    <ion-toolbar color="primary">
        <ion-buttons slot="start"> Has clic aca para continuar:

            <ion-button slot="start" href="/age">Heroes</ion-button>
            <ion-button slot="end" href="/actividades">Actividades</ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
    <ion-card *ngFor='let obj of sitiosturisticos'>
        <ion-img class="img-Menu" src=" {{obj.url}} "></ion-img>
        <ion-card-title>{{obj.nombre}}</ion-card-title>
        <ion-textarea>{{obj.descripcion}}</ion-textarea>
    </ion-card>

</ion-content>
<ion-footer class="ion-footer" slot="end">

</ion-footer>